@import '../_variables.sass';
@import './arrow.scss';

.education {
  margin: auto;
  margin-bottom: 20px;
  .arrow-down {
    top: -2px !important;
    right: 4px !important;
  }
  .universities,
  .courses,
  .books {
    position: relative;
    display: block;
    padding: 0;
    margin: 10px 10px;
    overflow: hidden;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    h3 {
      color: white;
      background-color: $primary;
      padding: 10px 15px;
    }
    .content {
      padding: 0;
      margin: 0;
      ul {
        margin: 0;
        padding: 15px;
        position: relative;
        list-style-type: none;
        li {
          margin-bottom: 4px;
        }
        li:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .education {
    width: 60%;
  }
}
