module.exports = {
  universities: [{ name: 'University', period: '2012 - 2016', course: 'Computer Science' }],
  books: [
    {
      name: 'Eloquent Ruby',
      link: 'https://www.amazon.com/Eloquent-Ruby-Addison-Wesley-Professional-ebook/dp/B004MMEJ36',
    },
    {
      name: 'Refactoring',
      link:
        'https://www.amazon.com/Refactoring-Improving-Existing-Addison-Wesley-Technology-ebook/dp/B007WTFWJ6',
    },
  ],
  courses: [
    { name: 'Advanced React and Redux', link: 'https://www.udemy.com/react-redux-tutorial' },
    { name: 'React and Redux', link: 'https://www.udemy.com/react-redux/' },
  ],
};
