module.exports = [
  {
    name: 'Project 1',
    company_id: 'company_1',
    language: 'javascript',
    period: '2018-11-12_2019-01-12',
    technologies: [
      'Javascript',
      'React',
      'Redux',
      'Redux Form',
      'Ruby',
      'Rails',
      'Rspec',
      'PostgreSQL',
    ],
    description_entries: ['A great project!'],
    links: ['https://myproject.com/'],
  },
  {
    name: 'Project 2',
    company_id: 'company_2',
    language: 'ruby',
    period: '2017-12-20_2018-04-02',
    technologies: [
      'Ruby',
      'Rails',
      'Rspec',
      'JWT',
      'Figaro',
      'Rack-Cors',
      'PostgreSQL',
      'AMS',
      'Capistrano',
    ],
    description_entries: ['Another great project'],
    contributions: [''],
  },
];
